body {
  background-color: #FDF6E3;
  color: #657B83;
}

h1, h2, h3 {
  color: #073642;
}

p {
  line-height: 1.7;
}

a {
  color: #268BD2;
  text-decoration: none;
}

a:hover {
  color: #586E75;
  /* base01 */
  text-decoration: underline;
}

.post {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #EEE8D5;
}

#footer {
  background-color: #EEE8D5;
  /* base2 */
  color: #657B83;
  padding: 2rem 0;
  margin-top: 3rem;
}
